{% extends 'main.html' %}

{% block title %} <title>Add Page</title> {% endblock %}

{% block content %}

    <div class="Add-container">
        <form class="Add-form" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Upload Album:</h4>
            <div>
                <label>Album Cover:</label>
                {{form.cover}}
            </div>
            <br>
            <div>
                <label>Album Title:</label>
                {{form.name}}
            </div>

            <div>
                 <label for="album_artist">Artist:</label>
                    <input required type="text" name="artist" list="artist-list" >
                    <datalist id="artist-list">
                        {% for artist in artists %}
                            <select id="album_artist">
                                <option value="{{ artist.name }}">{{ artist.name }}</option>
                            </select>
                        {% endfor %}

                    </datalist>
            </div>

            <div>
                    <label for="album_genre">Genre:</label>
                    <input required type="text" name="genre" list="genre-list" >
                    <datalist id="genre-list">
                        {% for genre in genres %}
                            <select id="album_genre">
                                <option value="{{ genre.name }}">{{ genre.name }}</option>
                            </select>
                        {% endfor %}

                    </datalist>
            </div>
            <div>
                <label>Release Date:</label>
                {{form.year}}
            </div>


            <br>
            <input type="submit" value="Upload">
        </form>
    </div>

{% endblock content %}

