<style>
.home-container {
     display: grid;
     grid-template-rows: auto 1fr;
     gap: 100xp;
}

.genres {
    display: grid;
    flex-wrap: nowrap;
    grid-auto-flow: column;
    grid-auto-columns: 15%;
    align-items: center;
    margin: 0px 50px;

    overflow-x: auto;

    &::-webkit-scrollbar {
    display: none;
  }
}


.genre-box {
    padding: 10px 30px;
    border-radius: 0px;
    background-color: #F5F7F8;
    transition: background-color 0.3s, box-shadow 0.3s;

}

.genre-box:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.genre-box a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}

.card-container {
    padding: 10px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: left;
}

.card {
  width: 22rem;
  margin-left: 0px;
  border: 1px solid #black;
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}
.card-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.card:hover .card-body {
  opacity: 1;
}
.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.card-text {
  margin-bottom: 5px;
}
.btn-dark {
  display: inline-block;
  wrap: flex;
  padding: 8px 12px;
  background-color: black;
  border: 0px solid #black;
  color: #black;
  text-decoration: none;
  border-radius: 0px;
  transition: background-color 0.3s;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
  outline: none;
  margin: 5px;
  width: 80px;
}
.btn-light {
  display: inline-block;
  padding: 6px 12px;
  background-color: white;
  border: 0px solid #white;
  color: #black;
  text-decoration: none;
  border-radius: 0px;
  transition: background-color 0.3s;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
  outline: none;
  margin: 5px;
  width: 80px;
}
.btn-dark:hover {
  background-color: #686D76;
  border-color: #white;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
}
.card-body .button-container {
display: flex;
justify-content: center;
}
.spacing {
margin-top: 10px;
}


</style>

<div>
    <a href="{% url 'add' %}" type="button" class="btn btn-dark" style = 'margin-left: 50px; width: 180px;'> Add Album </a>
</div>
<br>
<div class="home-container">

     <div class="genres">
        <div class="genre-box">
            <a href="{{request.path}}">All ({{genres.count}})</a>
        </div>
        {% for genre in genres %}
        <div class="genre-box">
            <a href="{{request.path}}?q={{genre.name}}">{{genre}} ({{genre.albums.count}})</a>
        </div>

        {% endfor %}
     </div>
    <br>
    <div>
        <div class="card-container" >
              {% for album in albums %}
               <div class="card">
                        <img src="{{ album.cover.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{album.name | slice:":40"}}</h5>
                          <p class="card-text">By {{album.artist}}</p>
                          <p class="card-text">Release Date: {{album.year}}</p>
                            <br>

                          <div class="button-container">
                              {% if request.user.is_authenticated %}
                                {% if album in request.user.albums.all%}
                                <a href="{% url 'delete' album.id %}" type="button" class="btn btn-dark">Drop</a>
                                {% else %}
                                <a href="{% url 'adding' album.id %}" type="button" class="btn btn-light">Add</a>
                                <div class="spacing"></div>
                                {% endif %}
                                {% if request.user == album.creator %}
                                <a href="{% url 'delete_album' album.id %}" type="button" class="btn btn-dark">Delete</a>
                                {% endif %}
                              {% endif %}
                                <a href="{% url 'details' album.id %}" type="button" class="btn btn-dark">Details</a>
                          </div>

                        </div>
               </div>
              {% endfor %}
        </div>
    </div>

</div>

