{% extends 'main.html' %}

{% block title %} <title>Artist Page</title> {% endblock %}

{% block content %}
<style>
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .gallery-item {
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        flex: 1 1 calc(33% - 32px);
        box-sizing: border-box;
        border: 0px solid #ddd;
        border-radius: 0px;
    }
    .gallery-item img {
        width: 100%;
        height: auto;
        display: block;
    }

    .gallery-item .info {
        padding: 16px;
        background: #f8f9fa;
    }
    .gallery-item .info h3 {
        margin: 0;
        font-size: 1.25rem;
    }
    .gallery-item .info p {
        margin: 8px 0 0;
        font-size: 1rem;
        color: #555;
    }
</style>

    <div style="margin-left: 50px; margin-right: 50px;">
        <section class="artist-content" style="padding: 20px; display: flex; flex: 1; flex-wrap: wrap; justify-content: center; padding: 20px 0; background: #fff;">
            <div class="artist-text" style="flex: 1; max-width: 800px; padding: 20px;">
                <h1 style="color: #666;">{{ artist.name }}</h1>
                <br>
                <p style="font-size: 1.2em; line-height: 1.6; color: #666;">{{ artist.bio }}</p>
            </div>
            <div class="artist-image" style="flex: 1; padding: 20px;">
                {% if artist.picture %}
                    <img style="max-width: 100%; height: auto; border-radius: 0px;" src="{{ artist.picture.url }}" alt="{{ artist.name }}">
                {% else %}
                    None
                {% endif %}
            </div>
        </section>
    </div>
    <hr style="margin-left: 50px; margin-right: 50px; color: #666;">

    <div>
        <h4 style="margin-left: 50px; color: #666;"> Albums By {{ artist.name }}:</h4>
        {% include 'base/albums.html' %}

    </div>
    <hr style="margin-left: 50px; margin-right: 50px; color: #666;">
    <div>
        <h4 style="margin-left: 50px; color: #666;"> Upcoming Shows of {{ artist.name }}:</h4>
    </div>
<div class="gallery">
    {% for show in shows %}
    <div class="gallery-item">
        <img src="{{ show.show.url }}" alt="Show Image">
        <div class="info">
            <h3>Title: {{show.name}}</h3>
            <br>
            <a href="{% if show.artist %}{% url 'artist' show.artist.id %}{% endif %}">
                Artist:
                {% if show.artist %}
                    {{ show.artist.name }}
                {% else %}
                    Unknown Artist
                {% endif %}
            </a>
            <p>Location: {{show.location}}</p>
            <p>Date: {{show.showdate}}</p>

        </div>
    </div>

</div>

{% endfor %}

{% endblock content %}
