{% extends 'main.html' %}

{% block title %} <title>Delete Page</title> {% endblock %}

{% block content %}


    <div class="delete-container">
        <form class="delete-form" method="POST" action="">
            {% csrf_token %}
            <a href="{{ request.META.HTTP_REFERER }}"> Cancel </a>
            <p>Are you sure you want to delete album: </p>
            <p>"{{ obj }}"</p>
            <br>
            <input type="submit" value="Delete">
        </form>
    </div>

{% endblock content %}