

{% extends 'main.html' %}

{% block title %} <title>Details Page</title> {% endblock %}

{% block content %}

    <div class="details-container">
        <form class="details-form" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Review Album Details:</h4>
            {% load static %}
            <br>
            <div>
                <img src="{% static album.cover.url %}" alt="" style="width: 320px; height: 320px;">
            </div>
            <br>
            <div>
                Album: {{album.name}}
            </div>

            <div>
                Artist: {{album.artist}}
            </div>

            <div>
                {% for genre in album.genre.all %}
                Genre: {{genre}} |
                {% endfor %}

            </div>
            <div>
                Release Year: {{album.year}}
            </div>
            <br>

            <div>
                <label> Condition: </label>
                <br>
                <img src="{% static album.file.url %}" alt="" style="width: 720px; height: auto;">
            </div>
            <br>
            <a href="{% url 'adding' album.id %}" type="button" class="btn btn-dark" style="border-radius: 0px; width: 200px;">Add To Profile</a>
            <hr>
            <h3>Discussion:</h3>
            <br>
            <form class="details-form" method="POST" action="">
                {% csrf_token %}
                <input name="body" placeholder="Add Comment...">
                <br>
                <br>
                {% for comment in comments %}
                    <div>
                            <a href="{% url 'profile' comment.user.id %}">
                                    <img src="{{ comment.user.avatar.url }}" width="30px" height="30px" style="border-radius: 50%">
                                    <span>{{ comment.user.username }}</span>
                            </a>
                            <span>{{ comment.created | timesince }} ago</span>
                    </div>
                    <div style="margin-right: 630px;">
                            <p>{{ comment.body }}</p>
                    </div>
                    <div style="margin-left: 32px;">
                        {% if request.user == comment.user %}
                            <a href="{% url 'delete_comment' comment.id %}">Delete</a>
                        {% endif %}
                    </div>
                <br>

                {% endfor %}
            </form>
        </form>
    </div>

{% endblock content %}

