{% extends 'main.html' %}

{% block title %} <title>Details Page</title> {% endblock %}

{% block content %}

    <div class="details-container">

        <form class="details-form" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            {% load static %}
            <br>
            <div style="display: flex; align-items: flex-start; gap: 40px;">
                <div>
                    <img src="{% static album.cover.url %}" alt="" style="width: 320px; height: 320px;">
                </div>
                <br>
                <div>

                    <div>
                        <a href="{% url 'artist' album.artist.id %}">{{album.artist}}</a>
                    </div>
                    <div>
                        {{album.name}}
                    </div>


                    <div>
                        Genre:
                        {% for genre in album.genre.all %}
                        {{genre}} |
                        {% endfor %}

                    </div>
                    <div>
                        Release Year: {{album.year}}
                    </div>
                        Uploaded By: {{album.creator}}
                </div>
            </div>
            <br>

            <br>


        <div class="playlist-container" >
            <h3>Playlist:</h3>
            <div class="playlist-grid" style="margin-top: 20px;">
                {% for song in album.songs.all %}
                    <div class="playlist-item">
                        <div class="playlist-info" style="margin-bottom: 10px; display: flex; gap: 10px;">
                            <span style="display: block; font-weight: bold; margin-bottom: 5px; width: 16%;">{{ song.title }}</span>

                            <audio controls style="width: 50%; height: 32px; align: right;">
                                <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </div>
                {% empty %}
                    <div class="playlist-item" style="flex: 1 1 100%; text-align: left;">
                        <span>No songs available for this album.</span>
                    </div>
                {% endfor %}

            </div>
        </div>


         <div>
            <br>
            <a href="{% url 'adding' album.id %}" type="button" class="btn btn-dark" style="border-radius: 0px; width: 200px; color: #ffffff;">Add To Profile</a>
            {% if request.user == album.creator %}
            <a href="{% url 'update_album' album.id %}" type="button" class="btn btn-dark" style="border-radius: 0px; width: 200px; color: #495057; background: white; border-color:white;">Update Album</a>
            {% endif %}

            <hr>
         </div>


         <div>
            <h3>Discussion:</h3>
            <br>
            <form class="details-form" method="POST" action="">
                {% csrf_token %}
                <input name="body" placeholder="Add Comment...">
                <br>
                <br>
                {% for comment in comments %}
                    <div>
                            <a href="{% url 'profile' comment.user.id %}">
                                    <img src="{{ comment.user.avatar.url }}" width="30px" height="30px" style="border-radius: 50%">
                                    <span>{{ comment.user.username }}</span>
                            </a>
                            <span>{{ comment.created | timesince }} ago</span>
                            <div style="margin-left: 32px;">
                            <p>{{ comment.body }}</p>
                            </div>
                    </div>

                    <div style="margin-left: 32px;">
                        {% if request.user == comment.user %}
                            <a href="{% url 'delete_comment' comment.id %}">Delete</a>
                        {% endif %}
                    </div>
                <br>

                {% endfor %}
            </form>
         </div>

    </div>


{% endblock content %}

