{% extends 'main.html' %}
{% load static %}

{% block title %} <title>Home Page</title> {% endblock %}

{% block content %}

<style>
.carousel-inner {
    height: 480px;
}

.carousel-inner img {
    height: 100%;
    object-fit: cover;
}
</style>

<div class="genres" style="margin-left: 0px; margin-right: 0px;">
    <div class="genre-box">
        <a href="{{request.path}}">All ({{genres.count}})</a>
    </div>
    {% for genre in genres %}
    <div class="genre-box">
        <a href="{{request.path}}?q={{genre.name}}">{{genre}}</a>
    </div>
    {% endfor %}
</div>

<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        {% for show in shows %}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for show in shows %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <a href="{% url 'shows' %}">
            <img src="{{ show.show.url }}" class="d-block w-100" alt="Slide {{ forloop.counter }}">
            </a>

        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>

<br>
<h2 style="margin-left: 50px;">ALBUM GALLERY</h2>

{% include 'base/albums.html' %}
<br><br>
<hr>


{% endblock content %}
