{% extends 'main.html' %}

{% block title %} <title>Profile Page</title> {% endblock %}



{% block content %}

<style>
.left-align {
    text-align: left;
}

  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
  }

</style>

    <div class="header-row">
        <h1 class="left-align">MY GALLERY</h1>
        <a href="{% url 'update_user' %}" type="button" class="btn btn-dark" style = 'margin-left: 50px; width: 180px;'> Update Profile </a>

    </div>
    <hr>

 {% include 'base/albums.html' %}

{% endblock content %}

