<style>

    body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #000000;
    background-image: url('https://img.freepik.com/premium-photo/vintage-white-colour-textured-background_78502-707.jpg?w=996');
}

.update-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 40px;
}

.update-form {
     background: #ffffff;
    padding: 40px;
    border-radius: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: auto;
}

.update-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.update-form input[type="text"], .update-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 0.1px solid #B4B4B8;
    border-radius: 0px;
    box-sizing: border-box;
}

.update-form input[type="submit"] {
    width: 100%;
    background: #black;
    color: #black;
    padding: 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.update-form input[type="submit"]:hover {
    background: #black;
}

.update-form p {
    margin: 0;
    text-align: center;
}

.update-form h4 {
    color: #black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.update-form a {
    color: #black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.update-form a:hover {
    text-decoration: underline;
}

</style>

{% extends 'main.html' %}

{% block title %} <title>Update Page</title> {% endblock %}

{% block content %}

    <div class="update-container">

        <form class="update-form" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <a href="{{ request.META.HTTP_REFERER }}"> Cancel </a>
            <h4>update:</h4>
                {% for field in form %}
            <div>
                <label>{{ field.label }}</label>
                    {{ field }}
            </div>

                {% endfor %}


            <br>
            <input type="submit" value="Update" >

        </form>
    </div>

{% endblock content %}

